@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #757575;
  background-image: url("../images/half_moon.png");
  background-repeat: no-repeat;
  background-color: #212121;
}

body * {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  color: #b04f35;
}

#container {
  width: 60rem;
  margin: 0 auto;
}

/* -------- HEADER --------- */
#mainHeader {
  margin-bottom: 3rem;
}

#mainHeader div {
  display: inline-block;
  width: 12.5rem;
  padding-top: 3rem;
}

#mainHeader p {
  font-style: italic;
}

#mainHeader nav {
  float: right;
  height: 100%;
}

#mainHeader nav a {
  display: inline-block;

  color: white;
  text-transform: uppercase;
  text-decoration: none;

  font-weight: 700;
  font-size: 0.8rem;

  padding: 6rem 1.2rem 1rem 1.2rem;
}

#mainHeader nav a:hover {
  background-color: #cb1c00;
}

#mainHeader nav a.selected {
  background-color: #cb1c00;
}

/* -------- MAIN --------- */
main p {
  font-size: 0.8rem;
  margin-block: 1rem;
  line-height: 1.3rem;
  text-align: justify;
}

main p .highlight {
  color: #b04f35;
}

#posts {
  float: left;
  width: calc(50rem - 135px);
  margin-right: 2.8rem;
}

#posts .post {
  margin-bottom: 5rem;
}

#posts h2 {
  font-size: 1.7rem;
  font-weight: 500;
}

#posts time {
  font-weight: 700;
  font-size: 0.8rem;
}

#posts address {
  font-weight: 700;
  font-style: normal;

  float: right;
  display: inline;
  font-size: 0.8rem;
}

#posts address a {
  color: #b04f35;
  text-decoration: none;
}

#posts .post-footer a {
  color: #cbc9c9;
  text-decoration: none;
  font-weight: 700;
  font-size: 0.8rem;
}

#posts .post-footer a:first-child {
  margin-inline: 3rem;
}

/* -------- ASIDE --------- */

aside {
  float: left;
  width: 26%;
}

aside input {
  width: 12rem;  
}

aside button {
  width: 3rem;  
}

aside > div {
  margin-bottom: 1.5rem;
}

aside > div:not(:first-child) {
  padding-left: 1rem;
}

aside > div h4 {
  font-size: 1.3rem;
  font-weight: 500;
}

aside > div ul {
  list-style: none;
  padding-left: 1rem;
}

aside > div ul li {
  font-size: .9rem;
  margin-block: 1rem;
}

aside > div ul li a {
  font-weight: 500;
  color: #757575;
}

aside > div ul li a:hover {
  color:#b04f35;
  text-decoration: underline;
}

/* -------- FOOTER --------- */
footer {
  clear: both;
}

